<div class="container">
  <h1>Lists of Movies</h1>

  <%= link_to "Create new list", new_list_path, class: "btn btn-primary" %>


  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= list.name %></h5>
            <%= link_to "View", list_path(list), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>




</div>
